@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html, body {
  margin : 0;
}

body {
  background-color      : #f5f5dcff;
  font-family           : 'Quicksand', sans-serif;
  color                 : gray;
  text-align            : center;
}

body.light {
  background-image : url( "img/pattern2.png" );
}


header {
  text-align: center;
  padding: 0.5em; 
  border-bottom: 3px double #9ad464;
  margin: 0 2em;
}

section {
  padding: 2em;
  width: max-content;
  margin: 0 auto;
  line-height: 1.8em;
  text-align: center;
}

b {
  color: #9ad464;
  text-transform: uppercase;
}

a, .message {
  color: #1a2745ff;
}

.error {
  color: #d6623eff;
  text-align: center;
  margin-bottom: 10px;
}

form {
  text-align: right;
  width: max-content;
  margin: 0 auto;
}

input {
  padding: 4px;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  border: none;
}

input[type='submit'] {
  background-color: #eab308ff;
  color: #111827ff;
  border: 1px solid transparent;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
}

input[type='submit']:hover {
  cursor: pointer;
}

.container {
  max-width: 100%;
  margin: auto;
  background-color: #f5f5dcff;
}

.header-container {
  position: relative;
  width: 70%;  
  max-width: 1200px;  
  height: 250px;  
  margin: 20px auto;  
  overflow: hidden;  
}


.header-image {
  position: relative;
  width: 100%;
  height: 100%;
}


.header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  border-radius: 10px;  
  filter: brightness(70%);  
}


.header-nav-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.5);  
  padding: 10px 15px;
  border-radius: 5px;
}

.header-nav-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.5);  
  padding: 10px 15px;
  border-radius: 5px;
}


.header-nav-right ul , .header-nav-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.header-nav-right  ul li, .header-nav-left ul li {
  display: inline-block;
}

.header-nav-right ul li a, 
.header-nav-left ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  transition: background 0.3s;
}

.header-nav-right ul li a:hover, .header-nav-left ul li a:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.footer-container {
  width: 100%; 
  max-width: 1200px;
  background-color: #111827ff !important; 
  color: white;
  text-align: center;
  padding: 20px 0;
  margin: 20px auto 0;
  border-radius: 10px;
}

.login-container, .register-container {
  width: 70%;
  max-width: 500px;
  margin: 50px auto;
  background-color: #1a2745ff;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}


.register-container input,
.login-container input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: left;
}

.register-container input {
  width: 90%; 
  height: 30px;
  text-align: left;
}

.login-container input {
  width: 100%;  
  height: 35px; 
  text-align: left;
}

.login-container_logout {
  width: 100%;  
  height: 35px; 
  align-content:center;
}


.login-container h2 {
  text-align: left;
  margin-bottom: 20px;
}


.login-container label {
  display: block;
  margin: 10px 0 5px;
}


.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; 
  width: 350px; 
}


.form-group label {
  width: 180px; 
  text-align: left;
  font-size: 14px; 
  white-space: nowrap;

}


.form-group input {
  width: 90%;  
  height: 25px; 
  padding: 6px;  
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px; 
}


.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}


.cancel-button {
  background-color: #878b95ff;
  color: #1a2745ff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


.submit-button {
  background-color: #eab308ff;
  color: #1a2745ff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


.cancel-button:hover, .submit-button:hover {
  opacity: 0.8;
}

.register-link {
  text-align: center;
  margin-top: 15px;
}

.register-link a {
  color: #eab308ff;
  font-weight: bold;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.register-container h2 {
  text-align: left;
  margin-bottom: 20px;
}


.login-link {
  text-align: center;
  margin-top: 15px;
}

.login-link a {
  color: #eab308ff;
  font-weight: bold;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.contact-info-container {
   
  background-color: #d6623eff;  
  color: #1a2745ff;  
  text-align: center;
  border: 2px solid #d6623eff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;  
  padding: 30px;            
  max-width: 1000px;   
  margin: 0 auto;  
}

.contact-info-container h2 {
  text-align: center;
  margin-bottom: 15px;
}

.passenger-form {
  padding: 15px;
  background: #1a2745ff;
  border-radius: 8px;
  margin-bottom: 15px;
}


.passenger-form h3 {
  text-align: left;
  margin-bottom: 10px;
}

/* ========== carousel Flight Result Styles ========== */
.flight-carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding: 10px;
}

.flight-carousel {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
}

.flight-carousel::-webkit-scrollbar {
  display: none;
}

.carousel-nav {
  background-color: #eab308;
  border: none;
  color: #1a2745;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.carousel-nav:hover {
  background-color: #cfa000;
}

.flight-option {
  flex: 0 0 auto;
  width: 250px;
  background: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.user-name {
  color: #eab308;
  font-weight: bold;
  margin-left: 58%
}



.container_trips {
  text-align: center;
  margin-top:5%;
  margin-bottom:5%;
}


h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-about {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
  background-color: #111827ff;    
  color: white;
  padding: 30px;            
  max-width: 1100px;   
  margin: 0 auto;  
}


.card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
}


.card:hover {
  transform: translateY(-10px);
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 8px;
}

.card p strong {
  color: #333;
}


/* Estilos do card de voo */
.flight-card_d {
  width: 350px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  padding: 20px;
  transition: all 0.3s ease;
  font-family: 'Arial', sans-serif;
}

.flight-card_d:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.card_d-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.flight-number {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #28a745;
}

.card_d-body {
  margin-bottom: 15px;
}

.departure, .arrival {
  margin-bottom: 10px;
}

.departure h4 {
  font-size: 18px;
  color: #444;
  margin-bottom: 5px;
}

.price {
  font-size: 16px;
  color: #777;
  margin: 4px 0;
}

.card_d-footer {
  text-align: center;
  font-size: 16px;
  color: #777;
}

/* Responsividade */
@media (max-width: 768px) {
  .flight-card_d {
      width: 90%;
  }
}

.buy-form {
  margin-top: 20px;
  text-align: center;
}

.buy-form button {
  background-color: #008CBA;
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.buy-form button:hover {
  background-color: #005f73;
}




.search-container{
  background-color: #001f3d !important;
  width: 100%;
  padding: 20px 0;
  margin-top: 5%;
  margin-top: 20px;
}

.search {
  background-color: #001f3d; 
  max-width: 70%; /* Limita a largura para o mesmo tamanho do cabeçalho */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* Fundo branco para o conteúdo do formulário */
  border-radius: 10px;
  background-color: #001f3d !important;
}

.faq-section {
  margin-top:2%;
}

.search-container .search h2 {
  color: #ffffff;
  margin-bottom: 15px;
}

.search-container .search label {
  display: flex;
  color: #ffffff;
  margin-bottom: 5px;
}

.search-container .search input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-container .search button {
  width: 100%;
  padding: 10px;
  background-color: #ffb81c;
  color: #fff;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container .search button:hover {
  background-color: #e89d14;
}

.search-container .search form {
  display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
}

.search-container .search .form-group {
  display: flex;
  flex-direction: column;
}

.search-container .search label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 5px;
        white-space: nowrap;
}

.search-container .search input, select {
  padding: 5px;
  min-width: 120px;
}

.search-container .search button {
  padding: 5px 10px;
  margin-top:10px
}
  
  .flights-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 10px 0;
}

.flight-card_d {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}

.flight-card_d:hover {
    transform: scale(1.02);
}

.card_d-header,
.card_d-body,
.card_d-footer {
    margin-bottom: 10px;
}

.card_d-header {
    display: flex;
    align-items: center;
}


/* Container dos cards */
.register-container_dash {
  margin: 3% auto;
  width: 90%;
}

.flights-grid_hash {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card_hash {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 280px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  text-align: center;
}

.card_hash:hover {
  transform: translateY(-5px);
}

.card-content_hash img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.card-title_hash {
  font-size: 20px;
  margin: 10px 0;
}

.card-content_hash p {
  margin: 5px 0;
}

/* Estilo responsivo */
@media (max-width: 768px) {
  .card_hash {
      width: 100%;
  }
}

.flight-card {
  background-color: #001f3d !important;
  width: 20%;
  padding: 20px 0;
  margin-top: 5%;
  margin-top: 20px;
  border-radius: 8px;
}

.flight-number{
  color: #008CBA;
}

/*FAQ*/
    .faq {
      width: 60%;
      margin: 0 auto;
      font-family: Arial, sans-serif;
    }

    .faq h3 {
      text-align: center;
      margin-bottom: 20px;
    }

    .faq-question {
      background-color: #f2f2f2;
      padding: 10px;
      margin: 5px 0;
      cursor: pointer;
      border: 1px solid #ddd;
      transition: background-color 0.3s;
    }

    .faq-question:hover {
      background-color: #e0e0e0;
    }

    .faq-answer {
      padding: 10px;
      display: none;
      border-left: 3px solid #007BFF;
      background-color: #f9f9f9;
    }




/*about us*/

.team-member {
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.team-member img {
    height: 250px;
    object-fit: cover;
}

.social-links a {
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #0d6efd !important;
}
