USE [master]
GO
/****** Object:  Database [you_fly]    Script Date: 2025-03-14 11:42:51 AM ******/
CREATE DATABASE [you_fly]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'you_fly', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\you_fly.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'you_fly_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\you_fly_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [you_fly].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [you_fly]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 2025-03-14 11:42:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[flight_id] [int] NOT NULL,
	[seat_id] [int] NOT NULL,
	[booking_date] [datetime2](7) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[total_price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_bookings] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flights]    Script Date: 2025-03-14 11:42:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flights](
	[flight_id] [int] IDENTITY(1,1) NOT NULL,
	[filght_number] [varchar](10) NOT NULL,
	[orign] [varchar](50) NOT NULL,
	[destiny] [varchar](50) NOT NULL,
	[depart] [date] NOT NULL,
	[arrive] [date] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[seats_capacity] [int] NOT NULL,
 CONSTRAINT [PK__flights__E37057654AE46B61] PRIMARY KEY CLUSTERED 
(
	[flight_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__flights__88E8B18570181161] UNIQUE NONCLUSTERED 
(
	[filght_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seats]    Script Date: 2025-03-14 11:42:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seats](
	[seat_id] [int] IDENTITY(1,1) NOT NULL,
	[flight_id] [int] NOT NULL,
	[seat_code] [varchar](5) NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_seats] PRIMARY KEY CLUSTERED 
(
	[seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2025-03-14 11:42:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](50) NOT NULL,
	[user_email] [varchar](50) NOT NULL,
	[password_hash] [char](6) NOT NULL,
	[user_cellphone] [varchar](10) NOT NULL,
	[user_birthday] [date] NOT NULL,
	[user_adress] [varchar](50) NULL,
	[user_created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[flights] ADD  CONSTRAINT [DF__flights__status__3A81B327]  DEFAULT ('scheduled') FOR [status]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_flights] FOREIGN KEY([flight_id])
REFERENCES [dbo].[flights] ([flight_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_flights]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_seats] FOREIGN KEY([seat_id])
REFERENCES [dbo].[seats] ([seat_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_seats]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_users]
GO
ALTER TABLE [dbo].[seats]  WITH CHECK ADD  CONSTRAINT [FK__seats__flight] FOREIGN KEY([flight_id])
REFERENCES [dbo].[flights] ([flight_id])
GO
ALTER TABLE [dbo].[seats] CHECK CONSTRAINT [FK__seats__flight]
GO
ALTER TABLE [dbo].[flights]  WITH CHECK ADD  CONSTRAINT [CK__flights__status__398D8EEE] CHECK  (([status]='completed' OR [status]='canceled' OR [status]='scheduled'))
GO
ALTER TABLE [dbo].[flights] CHECK CONSTRAINT [CK__flights__status__398D8EEE]
GO
USE [master]
GO
